/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body{
   margin: 0;
   padding: 0;
   background-color:#EEEEF0;
   font-family: 'Roboto', sans-serif;
 }

 h1{
   font-family: 'Kurale', serif;
   color: white;

 }

.button{
  font-family: 'Kurale', serif;
  background-color: #536272;
}

a{
  font-family: 'Kurale', serif;
  background-color: #536272;
}

.landing-page-tile{
  margin-left:1.5em;
  margin-top: 4em;
}

.message{
  color:white;
  font-family: 'Kurale', serif;
  margin-top: 10em;
  margin-left: .5em;

}
