/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body{
   margin: 0;
   padding: 0;
   background-color:#EEEEF0;
   font-family: 'ABeeZee', sans-serif;
 }

 h1{
   font-family: 'Kurale', serif;
   color: white;
 }

.message{
  color:white;
  font-family: 'Kurale', serif;
  margin-top: 10em;
  margin-left: .5em;
}

.friend-tile{
  float:auto;
  width: 100%;
  background: #FFFFFF;
  margin: 15px auto;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}


.interaction-tile{
  float:auto;
  width: 100%;
  padding: 30px;
  background: #FFFFFF;
  margin: 15px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.stats-component{
  right:0;
  position: fixed;
  width: 25%;
  height: auto;
  float:right;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

#friend-form{
  font-family: 'Open Sans Condensed', arial, sans;
  width: auto;
  padding: 30px;
  margin-right: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.landing-page img{
  position: absolute;
  margin-top: 4.5em;
  width: 100%;
}

.landing-page-tile{
  z-index: 100;
  position: absolute;
  margin-top: 4.5em;
  margin-left: 1.5em;
  font-size: 1.5em;
}

#instructions.message{
  margin-left: 1em;
  margin-top: 9em;
}

ul#sign_in_ul{
  font-size: 1em;
}

ul{
  list-style-type: none;
}

.hands{
  max-width:25%;
  min-width:25%;
  border-radius: 200px;
}

.edit{
  max-width:25%;
  min-width:25%;
  border-radius: 200px;

}

.edit.interaction{
  margin-left: 5em;
}


.trash{
  max-width:25%;
  min-width:25%;
  border-radius: 200px;
}

.heart{
  max-width:25%;
  min-width:25%;
  border-radius: 200px;
}

  .avatar{
    max-width:30%;
    min-width:30%;
    border-radius: 200px;
    margin-left: 7em;
    margin-bottom: 1em;
  }

.getting-started{
  margin-left: 8em;
}

.chart-container{
  margin-top: 1em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
