/* Desktops and laptops ----------- */
/*@media only screen  and (min-width : 1224px) {


  .dashboard-page {
    font-size: 1rem;
  }*/
  /*Landing page style */
    /*#landing-page{
      margin-top: 10em;
    }

    img{
      width: 100%;
    }

  .friend-tile{
    background-color: blue
  }
}*/
