 /*Smartphones (portrait and landscape) ----------- */

/* @media only screen and (min-device-width : 50px) and (max-device-width : 480px) {

.sign_in_bar{
  width:auto;
}
ul#sign_in_ul{
  width: auto;
  font-size: 3em;
}

.landing-page{
  width: auto;
  font-size: 3em;
}

img{
  max-width: 100%;
  height: auto;
}

.dashboard-page{
  width: auto;
  font-size: 3em;
}

.friend-page{
  font-size: 3em;
}

.friend-edit-page{
  font-size: 3em;
}

.interaction-edit-page{
  width: auto;
  font-size: 3em;
}

form{
  width: auto;
}

input{
  width: auto;
  font-size: 1em;
}


.friend-tile{
  margin-left: 10em;
  width:75%;
  border-style: solid;
    border-width: 2px;
    border-color: green;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}


.interaction-tile{
  margin-left: 10em;
  width:75%;
  border-style: solid;
    border-width: 2px;
    border-color: green;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
select{
  font-size: 30px;
}

textarea{
  font-size: .5em;
}

button{
  font-size: 1em;
  background-color: #556270;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 border: 0 none;
 border-radius: 30px;
 cursor: pointer;
}

input.button{
  font-size: 1em;
  background-color: #556270;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 border: 0 none;
 border-radius: 30px;
 cursor: pointer;
}

#wanna-be-button{
  font-size: 1em;
  background-color: #556270;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 border: 0 none;
 border-radius: 30px;
 cursor: pointer;
} */
