/* Smartphones (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 50px) and (max-device-width : 480px) {*/

/*Landing page style */
  /*#landing-page{
    margin-top: 10em;
  }

  img{
    width: 100%;
  }


  .friend-tile{
    background-color: red
  }
}*/


.friend-index-component{
  width: 50%;
  border-style: solid;
    border-width: 2px;
    border-color: red;
}

.friend-tile{
  
  width:75%;
  border-style: solid;
    border-width: 2px;
    border-color: green;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
