body{
  margin: 0;
  padding: 0;
}


.navbar {
 margin: 0;
 padding: 0;

}

#sign_in_ul {
 list-style-type: none;
 margin: 0;
 padding: 10px;
 overflow: hidden;
 background-color: #333;
 position: fixed;
   top: 0;
   width: 100%;
}

a {
   background-color: #f44336;
   color: white;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

a:hover, a:active {
   background-color: red;
}
