.navbar {
 margin: 0;
 padding: 0;

}

#sign_in_ul {
 list-style-type: none;
 margin: 0;
 padding: 10px;
 overflow: hidden;
 background-color: #4ECDC4;
 box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
 -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
 -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
 position: relative;
   top: 0;
   width: auto;
}

.sign_in_bar a {
   background-color:#017398 ;
   color: white;
   padding: 14px 25px;
   font-family: 'Kurale', serif;
   text-align: center;
   text-decoration: none;
   display: inline-block;
	border: 0 none;
	border-radius: 30px;
	cursor: pointer;

}

.sign_in_bar a:hover, .sign_in_bar a:active {
   background-color: #6F7C8A;
}
