/* iPads (portrait and landscape) -768 1024---------- */

/*@media only screen and (min-device-width : 480px) and (max-device-width : 1200px) {


  .dashboard-page{
    font-size: 2rem;
  }*/

  /*Landing page style */
    /*#landing-page{
      margin-top: 10em;
    }

    img{
      width: 100%;
    }

  .friend-tile{
    background-color: green
  }
}*/
